@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  #shard {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.5em;
    min-width: 0;
    min-height: 0;
    grid-template-columns: 1fr 350px;
    grid-template-rows: minmax(0, 1fr) 200px;
    grid-template-areas:
      "editor sidebar"
      "logs logs";
  }

  #shard #code-wrapper {
    grid-area: editor;
  }

  #shard #sidebar {
    grid-area: sidebar;
  }

  #shard #logs {
    grid-area: logs;
  }

  #shard.nologs {
    grid-template-areas: "editor sidebar";
    grid-template-rows: 1fr;
  }
  #shard.nologs #logs {
    display: none;
  }

  .codemirror {
    flex: 1;
    width: 100%;
    height: 100%;
    min-width: 0;
    overflow: hidden;
  }

  .codemirror textarea,
  .codemirror .target:not(:empty),
  .codemirror .cm-editor {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
  }

  .codemirror textarea {
    font-family: monospace;
    line-height: 1.4;
    margin: 0;
    width: 100%;
    height: 100%;
    resize: none;
    border: 2px solid #e5e7eb;
    border-radius: 7px;
  }

  .codemirror textarea:focus,
  .codemirror .cm-focused {
    outline: none;
    box-shadow: none;
    border: 1px dotted #212121;
  }
  
  .codemirror .cm-editor {
    padding: 0;
    border-radius: 7px;
    border-width: 1px;
  }

  .codemirror .cm-line {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .codemirror .cm-content {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
  }

  #shell input {
    --tw-ring-color: transparent;

    font-family: monospace;
    font-size: 1.5rem;
    width: 100%;
    border: 2px solid #e5e7eb;
    border-top: none;
    outline: none;
    padding: 0.125rem 0.25rem;
  }

  #shell input:focus {
    border: 2px dotted #212121;
  }
}

/* Hacks to make my JS hacks work :) */
[data-submit-loading] [data-disable-with],
[data-submit-loading] button:has([data-disable-with]) {
  pointer-events: none;
}

/* Hacks to ensure my layout doesn't fuck itself up
   due to elements inserted by Phoenix LiveView. */
html, body {
  @apply h-full;
}
body > div {
  @apply h-full flex flex-col;
}
body > div > main {
  @apply flex-grow overflow-hidden;
}
