:root {
  --erl: rgb(220, 38, 38);
  --erl-fg: hsl(from var(--erl) h s calc(l + 20));
  --erl-bg: rgba(from var(--erl) r g b / 20%);
  --ex: rgb(147, 51, 234);
  --ex-fg: hsl(from var(--ex) h s calc(l + 20));
  --ex-bg: rgba(from var(--ex) r g b / 20%);
  --phx: rgb(253, 79, 0);
  --phx-fg: hsl(from var(--phx) h s calc(l + 20));
  --phx-bg: rgba(from var(--phx) r g b / 20%);
}

.size-6 {
  height: 1.5rem;
  width: 1.5rem;
}

.size-5 {
  height: 1.25rem;
  width: 1.25rem;
}

.size-3 {
  height: 0.75rem;
  width: 0.75rem;
}

body > header .group,
body > [data-phx-main] > header .group {
  gap: 1.25em;
}

.badge {
  font-size: 0.9em;
  padding: 0 0.6rem;
  border-radius: 999px;
}

body > header .badges,
body > [data-phx-main] > header .badges {
  gap: 0.5em;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.25em;
  margin: 0;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.25em;
  margin: 0;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5em;
}

.stat {
  background: light-dark(#f1f1f1, #2b2b33);
  border-radius: 7px;
  padding: 0.75em;
  margin: 0;
}

.stat h3, .stat p {
  margin: 0;
}

#dashboard {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: 250px;
}

@media (min-width: 1024px) {
  #dashboard {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

#dashboard > section:first-of-type {
  grid-row: 1/3;
}

#dashboard h2 {
  border-bottom: none;
  margin-bottom: 0.4em;
  font-size: 1.25em;
}

#shard {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.5em;
  min-width: 0;
  min-height: 0;
  grid-template-columns: 1fr 350px;
  grid-template-rows: minmax(0, 1fr) 200px;
  grid-template-areas:
    "editor sidebar"
    "logs logs";
}

#shard #code-wrapper {
  grid-area: editor;
}

#shard #sidebar {
  grid-area: sidebar;
}

#shard #logs {
  grid-area: logs;
}

#shard.nologs {
  grid-template-areas: "editor sidebar";
  grid-template-rows: 1fr;
}
#shard.nologs #logs {
  display: none;
}

.codemirror {
  flex: 1;
  width: 100%;
  height: 100%;
  min-width: 0;
  overflow: hidden;
}

.codemirror textarea,
.codemirror .target:not(:empty),
.codemirror .cm-editor {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.codemirror textarea {
  font-family: monospace;
  line-height: 1.4;
  margin: 0;
  width: 100%;
  height: 100%;
  resize: none;
  border: 2px solid #e5e7eb;
  border-radius: 7px;
}

.codemirror textarea:focus,
.codemirror .cm-focused {
  outline: none;
  box-shadow: none;
  border: 1px dotted #212121;
}

.codemirror .cm-editor {
  padding: 0;
  border-radius: 7px;
  border-width: 1px;
}

.codemirror .cm-line {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.codemirror .cm-content {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}

#shell input {
  --tw-ring-color: transparent;

  font-family: monospace;
  font-size: 1.5rem;
  width: 100%;
  border: 2px solid #e5e7eb;
  border-top: none;
  outline: none;
  padding: 0.125rem 0.25rem;
}

#shell input:focus {
  border: 2px dotted #212121;
}

/* Hacks to make my JS hacks work :) */
[data-submit-loading] [data-disable-with],
[data-submit-loading] button:has([data-disable-with]) {
  pointer-events: none;
}

/* Hacks to ensure my layout doesn't fuck itself up
   due to elements inserted by Phoenix LiveView. */
html, body {
  @apply h-full;
}
body > div {
  @apply h-full flex flex-col;
}
body > div > main {
  @apply flex-grow overflow-hidden;
}

.erl {
  color: var(--erl-fg);
  background: var(--erl-bg);
}

.ex {
  color: var(--ex-fg);
  background: var(--ex-bg);
}

.phx {
  color: var(--phx-fg);
  background: var(--phx-bg);
}

.wide {
  max-width: 100%;
  margin: 0;
  padding: 1.5em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li:has(.actions),
ul li:not(:has(.actions)) a {
  display: block;
  text-decoration: none;
  padding: 0.7em 1em;
  margin-bottom: 0.25em;
  background: light-dark(#f1f1f1, #2b2b33);
}

ul li:has(.actions) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.7em;
}

ul li .actions a {
  background: black;
  color: white;
  padding: 0.5em 0.75em;
  margin-left: 0.25em;
  font-size: 0.8em;
  line-height: 1.5;
  text-transform: lowercase;
  text-decoration: none;
  cursor: default;

  &:hover {
    opacity: 0.8;
  }
}

ul li {
  position: relative;
}

ul li time {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25em;
  font-size: 0.8em;
  opacity: .8;
}

progress {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0.5em;
}

.dot, .square {
  background: currentColor;
  padding: .25rem;
  aspect-ratio: 1;
  width: 1px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.dot {
  border-radius: 9999px;
}

.square {
  padding: 0.5em;
  border-radius: 2px;
}

.line-chart {
  display: flex;
  height: 1.5rem;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  margin: 0.5em 5px;
}

.line-chart .segment {
  height: 100%;
  background: currentColor;
}

.legend {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-auto-flow: column;
  column-gap: 1rem;
  margin: 1.5em 0;
}