<header>
  <div class="group">
    <h1><.link navigate={~p"/"}>Vik <small>v{@versions.app}</small></.link></h1>
    <div :if={@socket.view != VikWeb.HomeLive} class="group badges">
      <span class="badge erl">
        Erlang v{@versions.erlang}
      </span>
      <span class="badge ex">
        Elixir v{@versions.elixir}
      </span>
      <span class="badge phx">
        Phoenix v{@versions.phoenix}
      </span>
    </div>
  </div>
  <nav class="group">
    <.link navigate={~p"/shell"}>Shell</.link>
    <.link navigate={~p"/log"}>Logs</.link>
  </nav>
</header>
<.flash_group flash={@flash} />
{@inner_content}